<%- include('header') %>

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post">
            <div class="field required">
                <label>新密码</label>
                <input placeholder="新密码" type="password" name="password1">
            </div>
            <div class="field required">
                <label>重复新密码</label>
                <input placeholder="重复新密码" type="password" name="repassword1">
            </div>
            <input type="submit" class="ui button fluid" value="完成更改">
               
        </form>  
    </div>
</div>

<%- include('footer') %>